<div class="container">
    <div class="card">
        <div class="card-header">
          Avaliação do Profissional Thiago Furlanetto Wronski
        </div>
        <div class="card-body">
        <h5 class="card-title" mr-2>Qualidade:</h5>
          <p>
              <div id="rate_quality"></div>
              <div class="counter"></div>
          </p>
          <h5 class="card-title" mr-2>Prazo:</h5>
          <p>
              <div id="rate_time"></div>
              <div class="counter"></div>
          </p>
          <h5 class="card-title" mr-2>Organização:</h5>
          <p>
              <div id="rate_organization"></div>
              <div class="counter"></div>
          </p>
          <%= form_with model: evaluation do |form| %>
              <%= form.hidden_field :quality_ev %>
              <%= form.hidden_field :time_ev %>
              <%= form.hidden_field :organization_ev %>
              <%= form.submit 'Avaliar', class: 'btn btn-primary' , data: { confirm: 'Are you sure?' } %>
          <% end %> 
        </div>
      </div>
</div>
