<%= form_with(model: access_template, local: true) do |form| %>
  <% if access_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(access_template.errors.count, "error") %> prohibited this access_template from being saved:</h2>

      <ul>
      <% access_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :mandatory %>
    <%= form.check_box :mandatory %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
