<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @improductive_reason.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @improductive_reason.description %>
</p>

<%= link_to 'Edit', edit_improductive_reason_path(@improductive_reason) %> |
<%= link_to 'Back', improductive_reasons_path %>
