<p id="notice"><%= notice %></p>

<p>
  <strong>Wbs:</strong>
  <%= @project.wbs %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<p>
  <div id="rateYo"></div>
  <div class="counter"></div>
</p>


<p>
  <input type="number" id="ev1" name="quantity" min="0" max="10" value="3">
</p>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'projects' %>
<% end %>
