  <p>
  <%= form_with url: '/hours_records_approval', scope: :hours_record ,  local: true do |f| %>
      
      <%= f.hidden_field (:id) %>
      <div class="field">
      <p>
      <%= f.label 'Comentário' %>
      </p>
      <%= f.text_area 'comment', cols: 45, rows: 10 %>
      </div>
      <%= f.submit 'Reprovar Horas', class: 'btn btn-danger' %>
      <%= f.submit 'Devolver para Revisão', class: 'btn btn-warning' %>
      <%= f.submit 'Aprovar Horas', class: 'btn btn-success' %>
      
  <% end %>
  </p>