<%= form_with(model: hours_record, local: true) do |form| %>
  <% if hours_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hours_record.errors.count, "error") %> prohibited this hours_record from being saved:</h2>

      <ul>
      <% hours_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day %>
  </div>

  <div class="field">
    <%= form.label :man_hour %>
    <%= form.text_field :man_hour %>
  </div>

  <div class="field">
    <%= form.label :activity_id %>
    <%= form.collection_select(:activity_id, Activity.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.collection_select(:project_id, Project.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :bay_id %>
    <%= form.collection_select(:bay_id, Bay.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :voltage_level_id %>
    <%= form.collection_select(:voltage_level_id, VoltageLevel.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :main_skill %>
    <%= form.collection_select(:main_skill_id, MainSkill.all, :id, :name) %>
  </div>

  <div class="field"> 
    Fim de atividade (incluir anexo): <input type="checkbox" id="myCheck" onclick="myFunction()">
  </div>

  <div id="attach_file" style="display:none" class="field">
    <%= form.label 'Anexos:' %>  
    <%= form.file_field :record_doc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
