<%= form_with(model: hours_record, local: true, class: "form-inlin justify-content-center") do |form| %>
  <% if hours_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hours_record.errors.count, "error") %> prohibited this hours_record from being saved:</h2>

      <ul>
      <% hours_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day %>
  </div>


  <div class="field">
    <%= form.label :improductive %>
    <%= form.check_box :improductive, {id: 'myCheck1', onclick:'myFunction1()'},  checked_value = "1", unchecked_value = "0" %>
  </div>

  <% if hours_record.improductive
    disp = 'display:block'
  else
    disp = 'display:none'
  end %>

   <div id="imp_reason" style="<%= disp %>" class="field">
    <%= form.label :improductive_reason %>
    <%= form.collection_select(:improductive_reason_id, ImproductiveReason.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :man_hour %>
    <%= form.text_field :man_hour %>
  </div>

  <div class="form-group">
    <%= form.label :activity_id %>
    <%= form.collection_select(:activity_id, Activity.all, :id, :name, class: "form-control") %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.collection_select(:project_id, Project.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :profile_id %>
    <!-- <%= form.text_field :profile_id %> -->
    <%= form.collection_select(:profile_id, Profile.all, :id, :full_name) %>
  </div>

  <div class="field">
    <%= form.label :bay_id %>
    <%= form.collection_select(:bay_id, Bay.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :voltage_level_id %>
    <%= form.collection_select(:voltage_level_id, VoltageLevel.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :main_skill %>
    <%= form.collection_select(:main_skill_id, MainSkill.all, :id, :name) %>
  </div>

  <div class="field"> 
    Fim de atividade (incluir anexo): <input type="checkbox" id="myCheck" onclick="myFunction()">
  </div>

  <div id="attach_file" style="display:none" class="field">
    <%= form.label 'Anexos:' %>  
    <%= form.file_field :record_doc %>
  </div>

  <div class="field">
    <p><%= form.label :description %></p>
    <%= form.text_area :description, cols: 45, rows: 10 %>
  </div>

  <%= form.fields_for :comments do |f| %>
    <% if f.object.new_record? %>
      <%= render 'comments_fields', f:f %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'hours_records' %>
<% end %>
