<div class="container container-fluid">
  <div class="row justify-content-center">
    <div class="card">
        <div class="card-body">
          <%= form_with(model: hours_record, local: true, class: "form-inlin justify-content-center") do |form| %>
            <% if hours_record.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(hours_record.errors.count, "error") %> prohibited this hours_record from being saved:</h2>

                <ul>
                <% hours_record.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :day %>
              <%= form.date_select :day, class: 'form-control' %>
            </div>

            <div class="form-group">
              <div class="form-check">
                <%= form.check_box :improductive, {id: 'myCheck1', onclick:'myFunction1()', class: 'form-check-input'},  checked_value = "1", unchecked_value = "0"%>
                <%= form.label :improductive , class: 'form-check-label'%>       
              </div>            
            </div>

            <% if hours_record.improductive
              disp = 'display:block'
            else
              disp = 'display:none'
            end %>

            <div id="imp_reason" style="<%= disp %>" class="form-group">
              <%= form.label :improductive_reason %>
              <%= form.collection_select(:improductive_reason_id, ImproductiveReason.all, :id, :name, class: 'form-control') %>
            </div>

            <div class="form-group">
              <%= form.label :man_hour, class: 'control-label' %>
              <%= form.text_field :man_hour %>
            </div>

            <div class="form-group">
              <%= form.label :activity_id %>
              <%= form.collection_select(:activity_id, Activity.all, :id, :name, class: 'form-control') %>
            </div>

            <div class="form-group">
              <%= form.label :project_id %>
              <%= form.collection_select(:project_id, Project.all, :id, :name, class: 'form-control') %>
            </div>

            <div class="form-group">
              <%= form.label :profile_id %>
              <!-- <%= form.text_field :profile_id %> -->
              <%= form.collection_select(:profile_id, Profile.all, :id, :full_name, class: 'form-control') %>
            </div>

            <div class="form-group">
              <%= form.label :bay_id %>
              <%= form.collection_select(:bay_id, Bay.all, :id, :name, class: 'form-control') %>
            </div>

            <div class="form-group">
              <%= form.label :voltage_level_id %>
              <%= form.collection_select(:voltage_level_id, VoltageLevel.all, :id, :name, class: 'form-control') %>
            </div>

            <div class="form-group">
              <%= form.label :main_skill %>
              <%= form.collection_select(:main_skill_id, MainSkill.all, :id, :name, class: 'form-control') %>
            </div>

              <div class="form-group">
              <%= form.label :main_equipment %>
              <%= form.collection_select(:main_equipment_id, MainEquipment.all, :id, :name, class: 'form-control') %>
            </div>

            <div class="form-group"> 
              
              <div class="form-check">
                <input type="checkbox" id="myCheck" onclick="myFunction()" class="form-check-input">
                <label for="myCheck" class="form-check-label">Fim de atividade (incluir anexo)</label>
              </div>
            </div>

            <div id="attach_file" style="display:none" class="form-group">
              <%= form.label 'Anexos:' %>  
              <%= form.file_field :record_doc %>
            </div>

            <div class="form-group">
              <p><%= form.label :description %></p>
              <%= form.text_area :description, cols: 45, rows: 10 , class: 'form-control'%>
            </div>
          <%# TODO: Passar teste de new record para dentro de comments_fields para também mostrar comandos existentes %>

            <%= render 'comments_list', hours_record: form.object%> 

            <%= form.fields_for :comments do |f| %>
                <%= render 'comments_fields', f:f %>
            <% end %>

            <div class="actions">
              <%= form.submit 'Enviar Horas', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'hours_records' %>
<% end %>
