
<%#TODO -> Create view helper to do this  %>
<% badge = HoursRecordsHelper::STATUSES_HASH[hours_record.status]["badge"]%>
<% message = HoursRecordsHelper::STATUSES_HASH[hours_record.status]["message"]%>

<p id="notice"><%= notice %></p>
  <p>
    <strong>Dia:</strong>
    <%= hours_record.day %>
  </p>


  <p>
    <strong>Horas Improdutivas ? :</strong>
    <%= hours_record.improductive %>
  </p>
  
  <% if hours_record.improductive == true %>
    <p>
      <strong>Causa da Improdutividade:</strong>
      <%= hours_record.improductive_reason.name %>
    </p>
  <% end %>


  <p>
    <strong>Horas Trabalhadas:</strong>
    <%= hours_record.man_hour %>
  </p>

  <p>
    <strong>Atividade:</strong>
    <%= hours_record.activity.name %>
  </p>

  <p>
    <strong>Projeto:</strong>
    <%= hours_record.project.name %>
  </p>

  <p>
    <strong>Profissional:</strong>
    <%= hours_record.profile.full_name %>
  </p>

  <p>
    <strong>Vão:</strong>
    <%= hours_record.bay.name %>
  </p>

  <p>
    <strong> Nivel de Tensão:</strong>
    <%= hours_record.voltage_level.name %>
  </p>

  <p>
    <strong>Status: </strong>
    <span class="<%= badge %>"><%= message %></span>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= hours_record.description %>
  </p>

  <%= render 'comments_list', hours_record: hours_record%> 

  <p>
    <% if hours_record.record_doc.attached? %>
      <%= link_to("Anexo: #{hours_record.record_doc.filename}" , rails_blob_path(hours_record.record_doc, disposition: "attachment")) %>
    <% end %>
  </p>