<p id="notice"><%= notice %></p>
  <p>
    <strong>Day:</strong>
    <%= hours_record.day %>
  </p>


  <p>
    <strong>Improductive:</strong>
    <%= hours_record.improductive %>
  </p>

  <p>
    <strong>Man hour:</strong>
    <%= hours_record.man_hour %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= hours_record.activity.name %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= hours_record.project.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= hours_record.profile.full_name %>
  </p>

  <p>
    <strong>Bay:</strong>
    <%= hours_record.bay.name %>
  </p>

  <p>
    <strong>Voltage level:</strong>
    <%= hours_record.voltage_level.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= hours_record.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hours_record.description %>
  </p>

 <% if hours_record.comments.any? %>
    <p>
      <strong>Comments:</strong>
      <% hours_record.comments.each do |comment| %>
          <p>
            <%= "Por: #{comment.profile.full_name} em #{comment.updated_at}"%>
          <p>
          <p>
            <%= comment.body %>
          </p>
      <% end %>
    </p>
 <% end %>

  <p>
    <% if hours_record.record_doc.attached? %>
      <%= link_to("Anexo: #{hours_record.record_doc.filename}" , rails_blob_path(hours_record.record_doc, disposition: "attachment")) %>
    <% end %>
  </p>