
<%= form_with(model: hours_record, local: true, class: "form-inlin justify-content-center") do |form| %>

  <%= form.fields_for :comments do |f| %>
      <%= render 'comments_fields', f:f %>
  <% end %>

  <div class="actions">
      <%= form.submit 'Reprovar Horas', class: 'btn btn-danger' %>
      <%= form.submit 'Devolver para Revisão', class: 'btn btn-warning' %>
      <%= form.submit 'Aprovar Horas', class: 'btn btn-success' %>
  </div>
<% end %>