<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Dia</th>
        <th scope="col">Horas</th>
        <th scope="col">Atividade</th>
        <th scope="col">Projeto</th>
        <th scope="col">Profissional</th>
        <th scope="col">Vão</th>
        <th scope="col">Nivel de Tensao</th>
        <th scope="col">Status</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @hours_records.each do |hours_record| %>
      <% badge = HoursRecordsHelper::STATUSES_HASH[hours_record.status]["badge"]%>
      <% message = HoursRecordsHelper::STATUSES_HASH[hours_record.status]["message"]%>

        <tr>
          <td><%= hours_record.day %></td>
          <td><%= hours_record.man_hour %></td>
          <td><%= hours_record.activity.name %></td>
          <td><%= hours_record.project.wbs %></td>
          <td><%= hours_record.profile.full_name %></td>
          <td><%= hours_record.bay.name %></td>
          <td><%= hours_record.voltage_level.name %></td>
          <td><span class="<%= badge %>"><%= message %></span></td>
          <%#TODO Put icon on the links %>
          <td><%= link_to 'Show', hours_record %></td>
          <td><%= link_to 'Edit', edit_hours_record_path(hours_record) %></td>
          <td><%= link_to 'Workflow', "/hours_records_approval/#{hours_record.id}" %></td>
          <td><%= link_to 'Destroy', hours_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Hours Record', new_hours_record_path %>
