<p id="notice"><%= notice %></p>

<h1>Hours Records</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Man hour</th>
      <th scope="col">Activity</th>
      <th scope="col">Project</th>
      <th scope="col">User</th>
      <th scope="col">Bay</th>
      <th scope="col">Voltage level</th>
      <th scope="col">Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hours_records.each do |hours_record| %>
    <% statuses = hour_status(hours_record.status)%>
      <tr>
        <td><%= hours_record.day %></td>
        <td><%= hours_record.man_hour %></td>
        <td><%= hours_record.activity.name %></td>
        <td><%= hours_record.project.wbs %></td>
        <td><%= hours_record.user.profile.full_name %></td>
        <td><%= hours_record.bay.name %></td>
        <td><%= hours_record.voltage_level.name %></td>
        <td><span class="<%= statuses["badge"] %>"><%= statuses["message"] %></span></td>
        <td><%= link_to 'Show', hours_record %></td>
        <td><%= link_to 'Edit', edit_hours_record_path(hours_record) %></td>
        <td><%= link_to 'Destroy', hours_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hours Record', new_hours_record_path %>
