<p id="notice"><%= notice %></p>

<h1>Hours Records</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Man hour</th>
      <th>Activity</th>
      <th>Project</th>
      <th>User</th>
      <th>Bay</th>
      <th>Voltage level</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hours_records.each do |hours_record| %>
      <tr>
        <td><%= hours_record.day %></td>
        <td><%= hours_record.man_hour %></td>
        <td><%= hours_record.activity.name %></td>
        <td><%= hours_record.project.wbs %></td>
        <td><%= hours_record.user.profile.full_name %></td>
        <td><%= hours_record.bay.name %></td>
        <td><%= hours_record.voltage_level.name %></td>
        <td><%= hours_record.status %></td>
        <td><%= link_to 'Show', hours_record %></td>
        <td><%= link_to 'Edit', edit_hours_record_path(hours_record) %></td>
        <td><%= link_to 'Destroy', hours_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hours Record', new_hours_record_path %>
