<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @hours_record.day %>
</p>

<p>
  <strong>Man hour:</strong>
  <%= @hours_record.man_hour %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @hours_record.activity.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @hours_record.project.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @hours_record.user.profile.full_name %>
</p>

<p>
  <strong>Bay:</strong>
  <%= @hours_record.bay.name %>
</p>

<p>
  <strong>Voltage level:</strong>
  <%= @hours_record.voltage_level.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @hours_record.status %>
</p>

<p>
  <%= button_to "Devolver para Revisão", action: "set_workflow", act: "send_back", id: @hours_record.id  %>
</p>

<p>
  <%= button_to "Aprovar Horas", action: "set_workflow", act: "approve" , id: @hours_record.id %>
</p>

<%= link_to 'Edit', edit_hours_record_path(@hours_record) %> |
<%= link_to 'Back', hours_records_path %>
