<p id="notice"><%= notice %></p>
<div class="container">
    <strong>Day:</strong>
    <%= @hours_record.day %>
  </p>

  <p>
    <strong>Man hour:</strong>
    <%= @hours_record.man_hour %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= @hours_record.activity.name %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= @hours_record.project.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @hours_record.user.profile.full_name %>
  </p>

  <p>
    <strong>Bay:</strong>
    <%= @hours_record.bay.name %>
  </p>

  <p>
    <strong>Voltage level:</strong>
    <%= @hours_record.voltage_level.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @hours_record.status %>
  </p>
  <p>
    <% if @hours_record.record_doc.attached? %>
      <%= link_to("Anexo: #{@hours_record.record_doc.filename}" , rails_blob_path(@hours_record.record_doc, disposition: "attachment")) %>
    <% end %>
  </p>


  <%= form_with url: '/hours_records_approval', scope: :hours_record ,  local: true do |f| %>
      
      <%= f.hidden_field (:id) %>
      <%= f.submit 'Reprovar Horas', class: 'btn btn-danger' %>
      <%= f.submit 'Devolver para Revisão', class: 'btn btn-warning' %>
      <%= f.submit 'Aprovar Horas', class: 'btn btn-success' %>
      
  <% end %>

  <%= link_to 'Edit', edit_hours_record_path(@hours_record) %> |
  <%= link_to 'Back', hours_records_path %>

</div>
<p>
