<p id="notice"><%= notice %></p>

<h1>Bays</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bays.each do |bay| %>
      <tr>
        <td><%= bay.name %></td>
        <td><%= link_to 'Show', bay %></td>
        <td><%= link_to 'Edit', edit_bay_path(bay) %></td>
        <td><%= link_to 'Destroy', bay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bay', new_bay_path %>
